---
- name: 1-1. Deploy VyOS VM from Template and Set Static MAC
  community.vmware.vmware_guest:
    # -----------------------------------------------------
    # VCSA 접속 정보 (필수)
    # -----------------------------------------------------
    hostname: '{{ vcenter_hostname }}'
    username: '{{ vcenter_username }}'
    password: '{{ vcenter_password }}'
    validate_certs: 'false'
    datacenter: '{{ vcenter_datacenter }}'
    folder: "{{ vcenter_folder }}"

    # -----------------------------------------------------
    # 필수 VM 식별자
    # -----------------------------------------------------
    name: '{{ vyos_vm_name }}'
    template: '{{ vyos_vm_template }}'

    # -----------------------------------------------------
    # NIC 설정 (networks 사용 및 MAC 주소 고정)
    # -----------------------------------------------------
    networks:
      # NIC 1: eth0 (WAN)
      - name: '{{ vyos_network_eth0 }}'  # VMware Port Group 이름
        mac: '{{ vyos_mac_eth0 }}'      # 고정 MAC 주소
        # label: '{{ vyos_label_eth0 }}' # 'networks'에서는 'label' 지원 안될 수 있음

      # NIC 2: eth1 (Trunk)
      - name: '{{ vyos_network_eth1 }}'  # VMware Port Group 이름
        mac: '{{ vyos_mac_eth1 }}'      # 고정 MAC 주소
        # label: '{{ vyos_label_eth1 }}'

    state: poweredon
  delegate_to: localhost

- name: 1-2. VM이 완전히 부팅되기를 60초간 기다림
  ansible.builtin.pause:
    seconds: 60  # 60초 동안 지연

- name: 1-3. Configure VyOS Network, Routing, and NAT (Force eth0/eth1)
  community.vmware.vmware_vm_shell:
    # -----------------------------------------------------
    # VCSA 접속 정보 (필수)
    # -----------------------------------------------------
    hostname: '{{ vcenter_hostname }}'
    username: '{{ vcenter_username }}'
    password: '{{ vcenter_password }}'
    validate_certs: 'false'
    datacenter: '{{ vcenter_datacenter }}'
    folder: "{{ vcenter_folder }}"
    vm_id: '{{ vyos_vm_name }}'
    vm_id_type: vm_name

    # VyOS 초기 접근 정보
    vm_username: '{{ vyos_os_user }}'
    vm_password: '{{ vyos_ssh_pass }}'
    vm_shell: /bin/vbash

    vm_shell_args: |-
      -c "source /opt/vyatta/etc/functions/script-template
      configure

      # 1. MAC 주소 변수 사용 (인터페이스 이름 고정)
      set interfaces ethernet eth0 hw-id {{ vyos_mac_eth0 }}
      set interfaces ethernet eth1 hw-id {{ vyos_mac_eth1 }}

      # 2. SSH 설정
      set service ssh port {{ vyos_ssh_port }}

      # 3. Outside NIC 설정 (eth0: DHCP)
      set interfaces ethernet eth0 address 10.10.200.11/8


      # 4. Inside NIC 설정 (eth1: Trunk)
      set interfaces ethernet eth1 description 'Inside Trunk'
      set interfaces ethernet eth1 vif 4094 address {{ vyos_gw_vlan4094 }}
      set interfaces ethernet eth1 vif 4094 description 'VLAN_4904_Base'

      # VLAN 90 (Manage) 서브 인터페이스 설정
      set interfaces ethernet eth1 vif {{ vlan_manage }} address {{ vyos_gw_vlan90 }}
      set interfaces ethernet eth1 vif {{ vlan_manage }} description 'VLAN_90_Manage'

      # VLAN 20 (Mail Server) 서브 인터페이스 설정
      set interfaces ethernet eth1 vif {{ vlan_mail_server }} address {{ vyos_gw_vlan20 }}
      set interfaces ethernet eth1 vif {{ vlan_mail_server }} description 'VLAN_20_Mail_GW'

      # VLAN 30 (Nginx Server) 서브 인터페이스 설정
      set interfaces ethernet eth1 vif {{ vlan_nginx_server }} address {{ vyos_gw_vlan30 }}
      set interfaces ethernet eth1 vif {{ vlan_nginx_server }} description 'VLAN_30_Nginx_GW'

      # 5. 라우팅 및 NAT 설정
      set protocols static route 0.0.0.0/0 next-hop {{ vyos_default_gateway }}
      set nat source rule 100 outbound-interface eth0 # eth0으로 변경
      set nat source rule 100 source address 172.16.3.0/24
      set nat source rule 100 translation address masquerade

      set nat source rule 200 outbound-interface eth0 # eth0으로 변경
      set nat source rule 200 source address 172.16.2.0/24
      set nat source rule 200 translation address masquerade

      # 6. DNS 및 NTP 설정
      set system name-server 8.8.8.8
      set system ntp server kr.pool.ntp.org

      commit
      save"
    wait_for_process: True
    timeout: 240

  delegate_to: localhost
  register: vyos_shell_config
